STRAPI_URL=http://backend:1337
PUBLIC_STRAPI_URL=http://localhost:1337
# Tracking (usar GTM como principal)
# Google Tag Manager ID, ejemplo: GTM-ABC1234
PUBLIC_GTM_ID=
# Opcional fallback directo GA4 (si no usas GTM)
PUBLIC_GA_MEASUREMENT_ID=
