DB_NAME=
DB_USER=
DB_PASSWORD=

ODOO_DB_NAME=postgres
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo

ADMIN_JWT_SECRET=
API_TOKEN_SALT=
APP_KEYS=
JWT_SECRET=

PUBLIC_STRAPI_URL=http://localhost:1337
PUBLIC_ODOO_URL=http://localhost:8069

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=

GOOGLE_APPS_SCRIPT_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=INCA'S PARADISE
RESEND_NOTIFY_EMAIL=

APIS_NET_PE_TOKEN=
