# Ignorar dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# Ignorar variables de entorno (contraseñas)
.env
.env.local

# Ignorar la base de datos física de Docker
docker-data/

# Ignorar archivos generados por Astro (Frontend)
dist/
.astro/

# Ignorar archivos generados por Strapi (Backend)
build/
.cache/
.tmp/
public/uploads/